{
  "extends": ["next", "prettier", "plugin:tailwind/recommended"],
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "warn",
    "no-var": "error",
    "react/no-unescaped-entities": "off",
    "react-hooks/exhaustive-deps": "off",
    "tailwind/class-order": "off"
  }
}
