@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Akkurat-Mono';
  src: local('Akkurat-Mono'), url(/fonts/Akkurat-Mono.OTF) format('opentype');
}

@font-face {
  font-family: 'Akkurat-Regular-Pro';
  src: local('Akkurat-Regular-Pro'), url(/fonts/Akkurat-Regular-Pro.ttf) format('opentype');
}

@font-face {
  font-family: 'Akkurat';
  src: local('Akkurat'), url(/fonts/Akkurat.ttf) format('truetype');
}

@font-face {
  font-family: 'Romana-BT-Roman';
  src: local('Romana-BT-Roman'), url(/fonts/Romana-BT-Roman.ttf) format('truetype');
}

@font-face {
  font-family: 'Akkurat-Light';
  src: local('Akkurat-Light'), url(/fonts/Akkurat-Light.ttf) format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /* background-color: #f5f3f3; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Akkurat-mono', Arial, Helvetica, sans-serif;
}

button {
  height: 32px;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: rgb(238, 237, 237);
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 8px 24px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20px;
  height: 35px;
}

p {
  font-size: 12px;
  font-family: 'Akkurat-mono';
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.stack {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #606060;
}

.header a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  line-height: 1rem;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header a:hover {
  text-decoration: underline;
  color: inherit;
}

.main-content {
  z-index: 1;
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-content.artist-info {
  justify-content: left;
  z-index: 1000;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);  
  outline: none;
}
div {
  transition: all .3s ease-in-out;
}

.item {
  font-family: 'Akkurat-Mono', Arial, Helvetica, sans-serif;
  padding: 2rem;
  background-color: rgba(255,255,255,0.5);;
  align-self: start;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 900px;
  height: 500px;
  cursor: pointer;
  border: 1px solid #000;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
   -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
       animation: fadein 5s;
}

.item:hover{
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.item__canvas {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 5px;
  left: 5px;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
   -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
       animation: fadein 5s;
}

img.item__img {
  display: none; 
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
   -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
       animation: fadein 5s; 
}

.item__img_small {
  width: 150px;
}

.item__album {
  font-family: 'Akkurat-Mono', Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: var(--color-secondary);
  font-size: 1.3rem;
}

.item__artist {
  font-family: 'Akkurat-Mono', Arial, Helvetica, sans-serif;
  max-width: 200px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #000000;
}

.item__counter {
  font-family: 'Akkurat-Mono', Arial, Helvetica, sans-serif;
  color: #181818;
  line-height: 1;
  font-size: 12px;
  font-weight: 100;
  margin: 160px;
  letter-spacing: 2px;
  background-color: #fff;
  padding: 10px;
}

.sound-visualizer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 10s; /* Firefox < 16 */
   -ms-animation: fadein 10s; /* Internet Explorer */
    -o-animation: fadein 10s; /* Opera < 12.1 */
       animation: fadein 10s;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  font-size: 12px;
}

.logo {
  height: 60px;
  width: 60px;
  cursor: pointer;
  background-image: url("/kshack-logo.jpg");
}

.left-middle {
  position: absolute;
  bottom: 50%;
  right: 6vw;
  font-family: 'Akkerat-Mono, sans-serif';
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.01em;
  font-size: 12px;
  transform: rotate(90deg) translate3d(50%, 0, 0);
  transform-origin: 100% 50%;
}

.bottom-left {
  position: absolute;
  bottom: 6vw;
  left: 6vw;
  font-size: 12px;
}

.bottom-right {
  position: absolute;
  bottom: 6vw;
  right: 6vw;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-size: 12px;
  text-align: right;
}

.right-middle {
  position: absolute;
  bottom: 50%;
  right: 6vw;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-size: 12px;
  transform: rotate(90deg) translate3d(50%, 0, 0);
  transform-origin: 100% 50%;
}
.left-middle {
  position: absolute;
  bottom: 48.3%;
  left: 4.8vw;
  letter-spacing: -0.01em;
  font-size: 17px;
  transform: rotate(0deg) translate3d(50%, 0, 0);
  transform-origin: 100% 50%;
}
.bar-vertical {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 2px;
  height: 150px;
  background: #252525;
}

.bar-horizontal {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 150px;
  height: 2px;
  background: #252525;
}

.main-image {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  margin-left: -50px;
  z-index: -1;
}