@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  height: 32px;
  min-width: 100px;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: white;
  border: 1px solid transparent;
  border-bottom: 3px solid #a0a0a0;
  border-radius: 3px;
  padding: 8px 24px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: auto;
  height: 45px;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.stack {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #606060;
}

.fullscreen.clicked {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  color: #808080;
  padding: 40px;
  pointer-events: none;
  justify-content: left;
  align-items: flex-start;
  flex-direction: row;
  font-size: 10px;
  line-height: 1.5em;
  z-index: 100;
}

.header.left {
  justify-content: flex-start;
}

.header.right {
  justify-content: flex-end;
}

.header > div {
  word-wrap: none;
  word-break: none;
  white-space: pre;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.header > div b {
  font-weight: 600;
  color: #b0b0b0;
}

.header a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
  color: inherit;
}

.main-content {
  z-index: 1;
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-content.artist-info {
  justify-content: left;
  margin-left: 4.5vw;
  z-index: 1000;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);  
  outline: none;
}

.item {
  /* margin: 0 2rem 2rem 0rem; */
  padding: 2rem;
  align-self: end;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 450px;
  width: 450px;
  height: 500px;
  cursor: pointer;
  border: 1px solid #000;
}

.item__canvas {
  position: absolute;
  left: -42px;
  width: 100%;
  height: 100%;
}

.item__img {
  /* display: none;  */
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 500px;                   
}

.item__img_small {
  width: 150px;
}

.item__album {
  font-family: vortice-concept, sans-serif;
  font-weight: 100;
  color: var(--color-secondary);
  font-size: 1.3rem;
}

.item__artist {
  max-width: 200px;
  font-size: 0.8rem;
  font-family: vortice-concept, sans-serif;
  font-weight: 500;
  color: #000000;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(154, 147, 147);
}

.item__counter {
  font-family: vortice-concept, sans-serif;
  font-weight: 200;
  color: #8e8e8e;
  font-size: 1.5rem;
  font-style: italic;
  /* align-self: end;
  justify-self: end; */
  line-height: 1;
  position: absolute;
  bottom: 15px;
  z-index: -1;
}

.sound-visualizer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media screen and (min-width: 53em) {
  .frame {
      position: fixed;
      text-align: left;
      z-index: 100;
      top: 0;
      left: 0;
      display: grid;
      align-content: space-between;
      width: 100%;
      max-width: none;
      height: 100vh;
      padding: 3rem;
      background: none;
      pointer-events: none;
      grid-template-columns: 75% 25%;
      grid-template-rows: auto auto auto;
      grid-template-areas: 'title demos'
          '... ...'
          '... ...';
  }

  .frame__title-wrap {
      grid-area: title;
  }

  .frame__title {
      margin: 0;
  }

  .frame__tagline {
      position: relative;
      margin: 0 0 0 1rem;
      padding: 0 0 0 1rem;
      opacity: 0.5;
  }

  .frame__demos {
      margin: 0;
      grid-area: demos;
      justify-self: end;
  }

  .frame__links {
      grid-area: links;
      padding: 0;
      justify-self: end;
  }

  .frame a {
      pointer-events: auto;
  }

  .slideshow__nav {
    flex-direction: row;
  }
}

